{:highlights [{:id #uuid "661d15d2-4433-4bc7-a08d-99120ec9fa9a",
               :page 53,
               :position {:bounding {:x1 182.375,
                                     :y1 245.09375,
                                     :x2 425.46929931640625,
                                     :y2 261.09375,
                                     :width 766,
                                     :height 1083.300947389639},
                          :rects ({:x1 182.375,
                                   :y1 245.09375,
                                   :x2 425.46929931640625,
                                   :y2 261.09375,
                                   :width 766,
                                   :height 1083.300947389639}),
                          :page 53},
               :content {:text "Downloading without reinitialisation"},
               :properties {:color "yellow"}}],
 :extra {:page 53}}
